nav{
    height: 120px;
    text-align: center;
    background-color: #0A1931;
    overflow: hidden;
}
nav h2{
    color: antiquewhite;
    margin-left: 39%;
    margin-top: 20px;
}
.card{
    margin-top: 20px;
    margin-left: 10px;
    width: 30rem;
}
@media only screen and (max-width: 770px) {
    .card{
        margin-left: 5px;
        width: 22rem;

    
    }
}
    
#p-1{
    font-weight: bold;
}


li{
    list-style-type: none;
}
#qq{
    margin-left: 100px;
}