<nav class="navbar ">
  <h2>"Quote Me!"</h2>
</nav>
  <div class="row">
    <div class="col-md-6">
    <ul>
      <div>
     
      </div>
  <div class="card"*ngFor='let quote of quotes;let i = index'>
    <div class="card-img-top">
    <li id='qty'>{{quote.quotify}} </li><br>
    <p id='author'>~{{quote.author}}~</p>
    </div>
    
    <div class="card-body">
    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isDelete) ='quoteDelete($event,i)'></app-quote-detail>
    <p (click)='toggleDetails(i)' id="p-1">Details</p>
  </div>
    </div>
    </ul>
</div>

<div class="col-md-5">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
</div>

