nav{
    height: 110px;
    text-align: center;
    background-color: #0A1931;
    overflow: hidden;
}
nav h2{
    color: antiquewhite;
    margin-left: 39%;
    margin-top: 20px;
}
nav h6{
    color: white;
}
@media only screen and (max-width: 770px) {
    nav h2{
        color: antiquewhite;
        margin-left:30% ;
        margin-top: 20px;
    }
}
.card{
    margin-top: 20px;
    margin-left: 10px;
    width: 30rem;
    background: transparent;
    border: 2PX solid black;
    font-size: 15px;
}
@media only screen and (max-width: 770px) {
    .card{
        margin-left: 5px;
        width: 22rem;

    
    }
}
.card:hover{
    zoom: 1.03;
}
    
#p-1{
    font-weight: bold;
}
#p-1:hover{
    color: blue;
}


li{
    list-style-type: none;
}
#qq{
    margin-left: 100px;
}